/* font poppins */
@font-face {
  font-family: "poppins";
  src: url("../../font/Poppins-Medium.ttf");
}

/* menu login */
.login {
  background: url(../assets/images/bg2.png);
  background-size: cover;
  height: auto;
  margin: 30px 100px 30px 120px;
}

.log {
  text-align: center;
  color: #0957de;
  font-size: 35px;
  font-family: poppins;
  padding-bottom: 10px;
}

/* admin-nav */
.h1Header {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20px;
}
.hsatu {
  display: inline;
  color: white;
  text-align: right;
  padding-right: 20px;
}

.nav-logout {
  color: white;
}

.nav-logout:hover {
  cursor: pointer;
  color: #09c2de;
  transition: 0.3s ease;
}

/* admin home */
.head {
  width: 1300px;
}

.titleHome {
  font-size: 2.2vw;
  font-weight: 500;
  color: #0957de;
  text-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
  margin-top: 10px;
  margin-left: 22px;
  width: 650px;
  font-family: poppins;
}

.date {
  font-size: 1.5vw;
  color: black;
  margin-top: 15px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
  font-family: poppins;
}

.cont {
  width: 1100px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.pendaftaran {
  padding: 10px 40px;
}

.card-title {
  font-weight: bold;
  font-size: 2vw;
  font-family: poppins;
  color: black;
  margin-bottom: 20px;
}
.card-text {
  font-weight: bold;
  font-size: 1vw;
}
.btnHome {
  background-color: #0957de;
  margin: auto;
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btnHome:hover {
  background-color: white;
  color: #0957de;
}

.text-btn {
  font-size: 20px;
}

.btn1 {
  background-color: rgb(0, 202, 202);
  border-color: rgb(0, 202, 202);
  margin: auto;
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btn1:hover {
  background-color: white;
  border-color: rgb(0, 202, 202);
  color: rgb(0, 202, 202);
}

.datapol-dok {
  margin-left: 30px;
}

.data-poliklinik {
  height: 260px;
  padding: 10px;
}

.datapol-dok {
  margin-left: 30px;
}

.data-poliklinik {
  height: 260px;
  padding: 10px;
}

.pageHome {
  background-color: whitesmoke;
  height: auto;
}
.banner {
  max-height: 500px;
}

.card-datapoli {
  padding: auto;
}

.center {
  padding-top: 60px;
  text-align: center;
}

.font-datapoli {
  font-family: poppins;
  font-size: 23px;
}

.font-datapoli {
  font-family: poppins;
  font-size: 23px;
}

.nv {
  display: inline-block;
  padding-right: 0px;
}
.pageDataDokter {
  background-color: whitesmoke;
  height: 100vh;
}

.btnDataDokter {
  background-color: #0957de;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
  width: 200px;
  height: 54px;
}
.btnDataDokter:hover {
  background-color: white;
  color: #0957de;
  border: #4186eb;
}

.btn2:hover {
  background-color: white;
  border-color: rgb(165, 165, 165);
  color: rgb(165, 165, 165);
}

.bold {
  font-weight: bold;
}

.btnModal {
  padding: 5px 30px;
}

.container-dataDokter {
  width: 1000px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.container-dataDokter {
  width: 1000px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.cardDataDokter {
  margin: auto;
  padding-top: 20px;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}

.tambah {
  margin: 0 4px 2px 0;
}
.content {
  margin: auto;
  margin-top: 50px;
  width: 650px;
  border: none;
  border-radius: 15px;
  background-color: whitesmoke;
}
.text {
  color: #0957de;
  display: block;
  font-size: small;
  margin-top: -5px;
}
.cardDo1 {
  margin: auto;
  padding: 10px 20px;
  width: 400px;
  height: 130px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.btnpad {
  padding: 10px 40px;
}

/* detail dokter */
.pageJadwalPraktik {
  /* background-color: whitesmoke; */
  width: 1050px;
}

.containerJadwalPraktik a {
  text-decoration: none;
  color: grey;
}
.containerJadwalPraktik a:hover {
  color: black;
}
.cardJadwalPraktik {
  margin: auto;
  margin-bottom: 50px;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}

.cardf {
  width: 200px;
  margin: 50px auto 0 auto;
}

.title-Detaildokter {
  margin: 10px 0 48px 50px;
}

.title-Detailpasien {
  margin: 10px 0 10px 20px;
}

.card-fotoDokter {
  margin: 0 0 30px 48px;
  width: 330px;
  height: 550px;
}

.nama-dokter {
  color: #0957de;
  font-size: 20px;
  font-family: poppins;
  margin: 10px 30px;
}
.jadwal-dokter {
  font-size: 20px;
  color: #9b9b9b;
}
.telp-dokter {
  font-size: 20px;
  color: #c4c3c3;
}
.category {
  background-color: #09c2de;
  color: white;
  width: 40%;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  padding: 7px;
  font-size: 20px;
}

.shield-detaildokter {
  margin-bottom: 2px;
  margin-right: 5px;
}

.edit {
  margin: 0 5px 5px 0;
  color: white;
}
.edit:hover {
  margin: 0 5px 5px 0;
  color: #0957de;
}

.km,
.km2 {
  font-size: 20px;
  background-color: #09c2de;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.c1 {
  font-size: x-large;
  margin-left: 60px;
}
.tab1 {
  margin: 0 10px;
}

.container-tab-data-dokter {
  color: black;
  margin: 10px 0 30px 20px;
}

.km2 {
  background-color: #0957de;
}
.km2:hover {
  background-color: white;
  color: #0957de;
  border-color: #0957de;
}
.btn-dataDokter {
  text-decoration: none;
  color: white;
}

/* data poliklinik */

.list-data-antrian {
  font-size: 8px;
}
.card2 {
  margin: auto;
  padding: 10px 20px;
  width: 400px;
  height: 130px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
  text-align: left;
}
.prog {
  background-color: #ff795c;
  color: white;
  font-size: 12px;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  padding: 3px 0;
}
.prog3 {
  background-color: #ff9d00;
}
.prog1 {
  background-color: red;
}
.prog2 {
  background-color: #41e2eb;
}
.sed {
  background-color: #09c2de;
  font-size: 15px;
  color: white;
  margin: auto;
  border-radius: 10px;
  padding: 3px;
}
.sed1 {
  background-color: #0957de;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 20px;
  margin-right: 10px;
}
.sed1:hover {
  background-color: white;
  color: #0957de;
  font-weight: bold;
  padding: 2px 20px;
}
.sed2 {
  background-color: #ff795c;
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 5px;
  margin-left: 0;
}
.sed2:hover {
  background-color: white;
  color: #ff795c;
  font-weight: bold;
  padding: 2px 15px;
}
.ad {
  display: flex;
}
.left {
  margin-right: 2px;
}
.clr {
  background-color: #9bc9fb;
  color: black;
}
.wt {
  background-color: white;
  color: black;
}
.kan {
  color: #4186eb;
}
.kir {
  color: #c4c3c3;
}

.container-nav-home {
  width: 87%;
  margin: auto;
  margin-left: 88px;
  margin-top: 10px;
}

.title-dataDokter {
  margin-left: 35px;
  font-size: 23px;
}
.button-tambahDokter {
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-right: 35px;
  background-color: rgb(195, 195, 195);
  float: right;
}
.button-tambahDokter:hover {
  background-color: white;
  color: #0957de;
}

.ho {
  margin-top: 7px;
  color: #c4c3c3;
}
.ho1 {
  margin-top: 13px;
}

/* data pasien */
.containerDataPasien a {
  text-decoration: none;
  color: grey;
}
.containerDataPasien a:hover {
  color: black;
}
.pageDataPasien {
  background-color: whitesmoke;
  height: 100vh;
}
.cardDetailPasien {
  margin: auto;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.imgPasien {
  margin: 40px 0 0 40px;
  width: 240px;
}

.sd {
  width: 170px;
}
.sd1 {
  background-color: #c4c3c3;
}
.sd3 {
  color: #c4c3c3;
}
.ta {
  margin-right: 10px;
  font-weight: bold;
}
.sub {
  height: 50px;
  font-weight: bold;
}

/* daftar berhasil */

.cont2 {
  margin-top: 100px;
}
.cd2 {
  max-height: 1000px;
  height: 400px;
  width: 50%;
  border-color: transparent;
  margin: auto;
  border-radius: 10%;
  color: #0957de;
  background: rgba(213, 224, 254, 0.3);
}

.pag {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/bgdaftar.png");
  background-size: cover;
  display: flex;
}
.ct2 {
  margin: auto;
  font-weight: bold;
  font-size: 2em;
}
#smile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 2.5s;
}
#smile path:nth-child(1) {
  stroke-dasharray: 606; /* space */
  stroke-dashoffset: 606; /* position */
  animation: line-animation 7s ease forwards;
}
@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
    border-radius: 50%;
  }
  to {
    fill: #09c2de;
    background-color: white;
    border-radius: 50%;
  }
}

.cek1 {
  margin-top: 250px;
  color: #0957de;
  text-decoration: underline;
}

.cek1 {
  color: #41e2eb;
  transition: 0.3s ease;
  cursor: pointer;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* kartu antrian */

.pageAntrian {
  background-image: url("../assets/images/bgantrian.png");
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 0px;
}
.cont9 {
  margin-top: 15px;
  margin-bottom: 80px;
  width: 450px;
}
.t9 {
  color: #0957de;
  font-size: 28px;
}
.cardAntrian {
  border: none;
  border-radius: 10px;
}
.cardTA {
  background-color: #70a4fd;
  color: white;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 20px;
}
.content9 {
  border-style: groove;
  border-color: #0957de;
  border-width: thin;
  border-radius: 5px;
  margin: 0;
  margin-top: 0;
  text-align: center;
}
.idl {
  font-size: 28px;
  color: black;
}
.idl1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.idl2 {
  color: black;
  font-size: 15px;
}
.idl3 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.idl4 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.content8 {
  border-style: groove;
  border-color: #0957de;
  border-width: thin;
  border-radius: 5px;
  width: 100%;
  margin: 15px 8px 0px 15px;
  padding: 0;
  text-align: center;
}
.btn-home {
  background-color: #70a4fd;
  color: white;
  font-weight: bold;
  border: none;
  width: 160px;
  height: 37px;
  border-radius: 5px;
}
.btn-home:hover {
  background-color: white;
  border-color: #70a4fd;
  color: #70a4fd;
  font-weight: bold;
}
.btn-print {
  background-color: rgb(0, 202, 202);
  color: white;
  font-weight: bold;
  width: 160px;
  border: none;
  border-radius: 5px;
  height: 37px;
}
.btn-print:hover {
  background-color: white;
  border-color: rgb(0, 202, 202);
  color: rgb(0, 202, 202);
  font-weight: bold;
}
