/* menu login */
.login {
    background: url(../assets/images/bg2.png);
    background-size: cover;
    height: auto;
    margin: 30px 100px 30px 120px ;
}

.log{
    text-align: center;
    color: #0957DE;
    font-size: 35px;
    font-family: url(../../font/Poppins-Bold.ttf);
    padding-bottom: 10px;
}

/* admin-nav */
.h1Header{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.hsatu{
  display: inline;
  color: white;
  text-align: right;
  padding-right: 20px;
}

/* admin home */
.head{
    width: 1300px;
}

.titleHome{
  font-size: 2.3vw;
  font-weight: 500;
  color: #0957DE;
  text-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
  margin: 10px;
  width: 650px;
}

.date{
  font-size: 1.5vw;
  color: black;
  margin-top: 15px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
}

.cont{
    width: 1000px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
  }


.card-title{
  font-weight: bold;
  font-size: 1.5vw;
}
.card-text{
  font-weight: bold;
  font-size: 1vw;
}
.btnHome{
  background-color: #0957DE;
  margin: auto;
  width: 70%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btnHome:hover {
  background-color: white;
  color: #0957DE;
}
.btn1{
  background-color: rgb(0, 202, 202);
  border-color: rgb(0, 202, 202);
  margin: auto;
  width: 70%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btn1:hover {
  background-color: white;
  border-color: rgb(0, 202, 202);
  color: rgb(0, 202, 202);
}

.pageHome{
    background-color: whitesmoke;
    height: auto;
}
.banner{
  max-height: 500px;
}

.center{
  padding-top: 60px;;
  text-align: center;
}

.nv{
  display: inline-block;
  padding-right: 0px;
}
.pageDataDokter{
  background-color: whitesmoke;
  height: 100vh;
}

.btnDataDokter{
  background-color: #0957DE;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.btnDataDokter:hover {
  background-color: white;
  color: #0957DE;
  border-color: #0957DE;
}
.btn2{
  background-color: rgb(165, 165, 165);
  float: right;
}
.btn2:hover{
  background-color: white;
  border-color: rgb(165, 165, 165);
  color: rgb(165, 165, 165);
}

.bold{
  font-weight: bold;
}

.btnModal{
  padding: 5px 30px;
}

.cardDataDokter{
  margin: auto;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.content{
  margin: auto;
  margin-top: 50px;
  width: 650px;
  border: none;
  border-radius: 15px;
  background-color: whitesmoke;
}
.text{
  color: #0957DE;
  display: block;
  font-size: small;
  margin-top: -5px;
}
.cardDo1{
  margin: auto;
  padding: 10px 20px;
  width: 400px;
  height: 130px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.btnpad{
  padding: 10px 40px;
}