/* menu login */
.login {
    background: url(../assets/images/bg2.png);
    background-size: cover;
    height: auto;
    margin: 30px 100px 30px 120px ;
}

.log{
    text-align: center;
    color: #0957DE;
    font-size: 35px;
    font-family: url(../../font/Poppins-Bold.ttf);
    padding-bottom: 10px;
}

/* admin-nav */
.h1Header{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}
.hsatu{
  display: inline;
  color: white;
  text-align: right;
  padding-right: 20px;
}

/* admin home */
.head{
    width: 1300px;
}

.titleHome{
  font-size: 2.3vw;
  font-weight: 500;
  color: #0957DE;
  text-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
  margin: 10px;
  width: 650px;
}

.date{
  font-size: 1.5vw;
  color: black;
  margin-top: 15px;
  font-weight: 500;
  margin-right: 10px;
  text-align: right;
}

.cont{
    width: 1000px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
  }


.card-title{
  font-weight: bold;
  font-size: 1.5vw;
}
.card-text{
  font-weight: bold;
  font-size: 1vw;
}
.btnHome{
  background-color: #0957DE;
  margin: auto;
  width: 70%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btnHome:hover {
  background-color: white;
  color: #0957DE;
}
.btn1{
  background-color: rgb(0, 202, 202);
  border-color: rgb(0, 202, 202);
  margin: auto;
  width: 70%;
  height: auto;
  font-size: 1.2vw;
  font-weight: bold;
  padding: 17px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}
.btn1:hover {
  background-color: white;
  border-color: rgb(0, 202, 202);
  color: rgb(0, 202, 202);
}

.pageHome{
    background-color: whitesmoke;
    height: auto;
}
.banner{
  max-height: 500px;
}

.center{
  padding-top: 60px;;
  text-align: center;
}

.nv{
  display: inline-block;
  padding-right: 0px;
}
.pageDataDokter{
  background-color: whitesmoke;
  height: 100vh;
}

.btnDataDokter{
  background-color: #0957DE;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.btnDataDokter:hover {
  background-color: white;
  color: #0957DE;
  border-color: #0957DE;
}

.btn2{
  background-color: rgb(165, 165, 165);
  float: right;
}
.btn2:hover{
  background-color: white;
  border-color: rgb(165, 165, 165);
  color: rgb(165, 165, 165);
}

.bold{
  font-weight: bold;
}

.btnModal{
  padding: 5px 30px;
}

.cardDataDokter{
  margin: auto;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.content{
  margin: auto;
  margin-top: 50px;
  width: 650px;
  border: none;
  border-radius: 15px;
  background-color: whitesmoke;
}
.text{
  color: #0957DE;
  display: block;
  font-size: small;
  margin-top: -5px;
}
.cardDo1{
  margin: auto;
  padding: 10px 20px;
  width: 400px;
  height: 130px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.btnpad{
  padding: 10px 40px;
}

/* detail dokter */
.pageJadwalPraktik{
  background-color: whitesmoke;
}

.containerJadwalPraktik a {
  text-decoration: none;
  color: grey;
}
.containerJadwalPraktik a:hover{
  color: black;
}
.cardJadwalPraktik{
  margin: auto;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.cardf{
  width: 300px;
  margin: 50px auto;
}
.uk{
  margin: 50px;
  width: 300px;
}
.hw{
  color: #0957DE;
}
.hw1{
  color: #9B9B9B;
}
.hw2{
  color: #C4C3C3;
}
.category{
  background-color: #09C2DE;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  padding: 7px;
}
.km, .km2{
  font-size: 20px;
  background-color: #09C2DE;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}
.c1{
  font-size: x-large;
  margin-left: 60px;
}
.tab1{
  margin: 0 10px;
}
.tabq{
  color: black;
}
.km2{
  background-color: #0957DE;
}

/* data poliklinik */
.card2{
  margin: auto;
  padding: 10px 20px;
  width: 400px;
  height: 130px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
  text-align: left;
}
.prog{
  background-color: #FF795C;
  color: white;
  font-size: 12px;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  padding: 3px 0;
}
.prog3{
  background-color: #FF9D00;
}
.prog1{
  background-color: red;
}
.prog2{
  background-color: #41E2EB
  ;
}
.sed{
  background-color: #09C2DE;
  font-size: 15px;
  color: white;
  margin: auto;
  border-radius: 10px;
  padding: 3px;
}
.sed1{
  background-color: #0957DE;
  font-weight: bold;
  padding: 2px 30px;
}
.sed2{
    background-color: #FF795C;
    font-weight: bold;
    padding: 2px 30px;
}
.ad{
  display: flex;
}
.left{
  margin-right: 2px;
}
.clr{
  background-color: #9BC9FB;
  color: black;
}
.wt{
  background-color: white;
  color: black;
}
.kan{
  color: #4186EB;
  
}
.kir{
  color: #C4C3C3;
}
.ho{
  margin-top: 7px;
  color: #C4C3C3;
}
.ho1{
  margin-top: 13px;
}
/* data pasien */
.containerDataPasien a {
  text-decoration: none;
  color: grey;
}
.containerDataPasien a:hover{
  color: black;
}
.pageDataPasien{
  background-color: whitesmoke;
  height: 100vh;
}
.cardDetailPasien{
  margin: auto;
  width: 1500px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.5);
}
.ma{
  margin-left: 0;
  width: 300px;
}
.sd{
  width: 170px;
}
.sd1{
  background-color: #C4C3C3;
}
.sd3{
  color: #C4C3C3;
}