@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
:root {
  --primary-color: #0957de;
  --secondary-color: #ecf5f8;
  --tertiary-color: #bfd2f8;
  --txt-primary-color: #159eec;
  --txt-secondary-color: #1f2b6c;
}

.navbar-logo {
  padding: 15px;
  font-family: "Work Sans", sans-serif;
}

.navbar-main {
  background-color: var(--primary-color);
}

.beranda {
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.beranda-content {
  height: 50vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  font-family: "Yeseva One", cursive;
  background-color: var(--secondary-color);
  margin-bottom: 30px;
}

h1 {
  color: var(--primary-color);
  font-family: "Yeseva One", cursive;
  font-size: 48px;
}

h2 {
  color: var(--primary-color);
  font-family: "Yeseva One", cursive;
  font-size: 32px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--txt-primary-color);
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}

.beranda-layanan {
  background-color: var(--secondary-color);
}

.beranda-jadwal {
  background-color: var(--secondary-color);
  margin-bottom: 30px;
}

.judul {
  padding-top: 250px;
  color: var(--primary-color);
  font-family: "Yeseva One", cursive;
  font-size: 48px;
  font-weight: 400;
}

.deskripsi {
  font-family: "Work Sans", sans-serif;
}

.tombol {
  border: none;
  border-radius: 50px;
  background-color: #4caf50;
  color: white;
  padding: 5px;
  font-size: 15px;
  width: 120px;
}

.tombol:hover {
  background-color: white;
  color: #4caf50;
  transition: 0.3s ease;
}

.tombol-submit {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  height: 78px;
  box-shadow: 1px 3px 3px rgba(124, 124, 124, 0.7);
}

.tombol-submit:hover {
  background-color: white;
  color: #0957de;
  transition: 0.3s ease;
}

.tombol-kirim {
  width: 100%;
  background-color: var(--tertiary-color);
  color: #1f2b6c;
}

.tentang {
  color: #1f2b6c;
  font-family: "Yeseva One", cursive;
  font-weight: 400px;
}

.tentang-content {
  background-color: var(--secondary-color);
}
.tentangKami {
  height: 130vh;
  margin-bottom: 10rem;
}

.logoRs {
  width: 450px;
  height: 450px;
}

.fasilitas {
  height: 100vh;
}

.dokter {
  height: 200vh;
  background-color: var(--secondary-color);
}

.isi-kartu {
  background-color: #bfd2f8;
  color: #1f2b6c;
}

.Layanan {
  background-color: #a7c6fc;
}

.kartu-layanan {
  background-color: #ecf5f8;
}

/* hubungi kami */
.card-kami {
  background-color: var(--primary-color);
  width: 230px;
  height: 230px;
}

.card-kami2 {
  background-color: var(--tertiary-color);
  width: 230px;
  height: 230px;
}

#card {
  margin-top: 50px;
}

.logo-layanan {
  width: 40px;
  height: 40px;
}

footer {
  background-color: #0957de;
  color: #fcfefe;
  font-family: "Work Sans", sans-serif;
}

footer h1 {
  font-size: large;
  font-weight: bold;
}

.list {
  color: #159eec;
}

footer p {
  font-size: medium;
}

.hubungi {
  height: 220vh;
}

/* .navbar-list {
  color: white;
  text-decoration: none;
  padding-right: 10px;
} */

.background-filter {
  background: rgba(255, 255, 255, 0.5);
}

.background-filter2 {
  height: 100vh;
  background: linear-gradient(
    268.24deg,
    #e5e4e8 5%,
    rgba(235, 234, 239, 0) 10%
  );
}

.tengah {
  margin: 0 auto;
}
